<!DOCTYPE html>
<html>
<head>
  <title>ユーザー一覧</title>
</head>
<body>
  <h1>ユーザー一覧</h1>

  <table>
    <thead>
      <tr>
        <th>名前</th>
        <th>パスワード</th>
        <th>年齢</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.uid %></td>
          <td><%= user.pass %></td>
          <td><%= user.age %></td>
          <td>
            <%= link_to '詳細', user %>
            <%= link_to '削除', user, method: :delete, data: { confirm: '削除してもよろしいですか?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to '新しいユーザーを作成', new_user_path %>
</body>
</html>
